elpa/
auto-save-list/
backups/
eshell/
projectile-bookmarks.eld
smex-items
transient/
bookmarks
ido.last
projectile.cache
recentf
tramp
url/
.mc-lists.el
README.el
custom.el
emojis/
request/
secrets/
dmenu-items