auto-save-list/
elpa/
eshell/
projectile-bookmarks.eld
smex-items
transient/
projectile.cache
emojis/
secrets/
custom/
request/
url/
var/
ido.last
.mc-lists.el
recentf
smex-items
.org-id-locations
.#recentf
*~
org-gcal/
elpy/
oauth2.plstore
tramp
savehist
saveplace
